@import 'macro-css';

$font: 'DynaPuff', cursive;

* {
 margin: 0;
 font-family: $font;
}

body {
 margin: 0;
 background: rgba(148, 187, 233, 1);
}

header {
 background: #ffffff;
 margin: 20px 20px 0 20px;
 height: 90px;
 box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.04);
 border-radius: 20px;

 h1 {
  text-align: center;
 }
 h3 {
  text-align: center;
 }
}
.leftBlock {
 margin-left: 14px;
 vertical-align: middle;
}
.socialMedia {
 flex-direction: column;
 align-items: flex-start;
 position: absolute;
 bottom: 0;
 margin: 15px;
 h5 {
  margin-left: 4px;
 }
 img {
  height: 36px;
  width: 36px;
  opacity: 1;
  &:hover {
   opacity: 0.4;
  }
 }
}
.wrapper {
 background: #ffffff;
 box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.06);
 border-radius: 20px;
 width: 900px;
 height: 400px;
 margin: 70px auto;
 position: relative;
 button {
  position: relative;
  margin: 7px 16px 7px 16px;

  width: 80px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #94bbe9;
  background-color: #fff;
  color: #94bbe9;

  &:hover {
   opacity: 0.4;
   transition: opacity 0.15s ease-in-out;
  }
 }
 .verticalStickLeft {
  z-index: 2;
  width: 4px;
  height: 400px;
  background-color: #94bbe9;
 }
 .numList {
  text-align: center;
  z-index: 1;
  flex: 1 1 auto;
  .horizontalStick {
   display: inline-block;
   width: 200px;
   height: 4px;
   background-color: #94bbe9;
   border-radius: 2px;
  }
  ul {
   height: 320px;
   overflow: auto;
  }
 }

 .verticalStickRight {
  z-index: 2;
  width: 4px;
  height: 400px;
  background-color: #94bbe9;
 }
 .btnFrame {
  margin: 20px 6px 0 6px;
  width: 115px;
  display: inline-block;
  border-radius: 30px;
  border: 2px solid #94bbe9;
  background-color: #fff;
  justify-content: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.06);
 }
}
