@import 'macro-css';

$font: 'DynaPuff', cursive;

* {
 margin: 0;
 font-family: $font;
}

body {
 margin: 0;
 background: rgba(148, 187, 233, 1);
}

header {
 background: #ffffff;
 margin: 20px 20px 0 20px;
 height: 90px;
 box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
 border-radius: 20px;
}
.wrapper {
 background: #ffffff;
 box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
 border-radius: 20px;
 width: 540px;
 height: 400px;
 margin: 70px auto;
 button {
  margin: 25px 10px 0 10px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #94bbe9;
  background-color: #fff;
  color: #94bbe9;
 }
 .verticalStickLeft {
  z-index: 2;
  width: 3px;
  height: 400px;
  background-color: #94bbe9;
 }
 .numList {
  z-index: 1;
  flex: 1 1 auto;
 }
 .verticalStickRight {
  z-index: 2;
  margin-right: 115px;
  width: 3px;
  height: 400px;
  background-color: #94bbe9;
 }
}
